<div class="container">

    <div class="text-center">
        <h1>Nxtlife Meeting Notes</h1>
        <p class="lead">{{message}}</p>
    </div>

    <div>
        <!--<h2>Latest Notes</h2>-->
        <div class="container">
            <!--Filter notes list by member name-->
            <form action="/" method="post">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <select id="memberName" name="memberName" class="form-control">
                            <option>(Show All Members)</option>
                            <option>Ankit</option>
                            <option>Tushar</option>
                            <option>Ajay</option>
                            <option>Dhyan'er</option>
                            <option>Pankaj</option>
                            <option>Vinay</option>
                        </select>
                    </div>
                    <div class="col-md-8 column">
                        <!-- Button -->
                        <button id="btnFilterNotes" name="btnFilterNotes" class="btn btn-primary" type="submit">Filter Notes...</button>
                    </div>
                </div>
            </form>
        </div>
        <br/>

    </div>
    <!-- /.container -->
