
    <div class="container">

        <div class="text-center">
            <h1>{{title}}</h1>
            <p class="lead">Enter the details asked below.</p>
        </div>


        <form class="form-horizontal" action="newnote" method="post">
            <fieldset>

                <!-- Form Name -->
                <legend>Enter a Meeting Note</legend>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="memberName">Name</label>
                    <div class="col-md-4">
                        <select id="memberName" name="memberName" class="form-control">
                        <option value="None">(Select Name)</option>
                        <option value="Tushar">Tushar</option>
                        <option value="Ankit">Ankit</option>
                        <option value="Ajay">Ajay</option>
                        <option value="Vinay">Vinay</option>
                        <option value="Pankaj">Pankaj</option>
                    </select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="project">Current Project or Task</label>
                    <div class="col-md-4">
                        <select id="project" name="project" class="form-control">
                        <option value="None">(Select Project)</option>
                        <option value="yugma"> Yugma App</option>
                        <option value="design"> UI Development</option>
                        <option value="backend">Backend</option>
                    </select>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="workYesterday">What did you work on yesterday?</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="workYesterday" name="workYesterday">Yesterday</textarea>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="workToday">What will you work on today?</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="workToday" name="workToday">Today</textarea>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="impediment">Any Impediment(s)?</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="impediment" name="impediment">None</textarea>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnSaveNote">Save Note</label>
                    <div class="col-md-4">
                        <button id="btnSaveNote" name="btnSaveNote" class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>

            </fieldset>
        </form>


    </div>
    <!-- /.container -->
