@font-face {
  font-family: "Stoner";
  src: url("../fonts/goodtimesrg.ttf") format("truetype");
}


body {
  padding: 50px;
  font-family: "Stoner" ;
  font-weight: lighter;
}

a {
  color: #00B7FF;
}

#NoteShow {
	padding-top: 5px;
	text-align: center;
	background-color: #F6F6F6;
}