@font-face {
  font-family: "Stoner";
  src: url("../fonts/goodtimesrg.ttf") format("truetype");
}
body {
	width:80%;
  margin: 60px auto;
  font-family: "Stoner" ;
  font-size: 11px;
}

a {
  color: #00B7FF;
}

#NoteShow {
	width:70%;
	margin:30px auto;
	padding:2px;
	text-align: center;
	height:200px;
	border-radius: 10px;
	line-height: 40px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5 )
}
#indexHead {
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);	
}
section {
	
	color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: grey;
    background: white;
    background-image: none;
}
.navbar-inverse {
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

@media all and (max-width: 800px) {
 .navbar-toggle {
		background: rgba(0,0,0,0.5);
	}
}

@media all and (max-width: 600px) {

body{
	width:100%;
}
#indexHead {
	font-size: 20px;
}	
#NoteShow {
	width:90%;
}
}
